.header{
    
    /* Estilos Generales del Navbar */
    width: 100%;
    display: flex;
    flex-flow: wrap;
    justify-content: space-between;
    align-items: center;

    /* Estilos del logo empresarial */
    &__logo{
        
        width: 2.5em;
        height: 2.5em;
        background-image: url('/images/shared/logo.svg');
        background-position: center;
        background-size: cover;
        margin: 1.45em;

    }
    
    /* Estilos de linea */
    &__line {
        display: none;        
    }

    /* Estilos del boton hamburger */
    &__menu{

        z-index: 1;
        margin: 1.45em;        

    }
    
    /* Estilos del menu */
    &__nav{

        width: 100%; 
        display: flex;
        justify-content: flex-end;

    }
    
    /* Estilos del contenedor de links */
    &__ul{

        width: 68%;
        height: 100vh;
        top: 0;
        background-color: rgba(255, 255, 255, 0.062);
        backdrop-filter: blur(1rem);
        position: fixed;        
        padding: 7.3em 0 0 2.04em;
        display: flex;
        flex-direction: column;
        gap: 2.1em;
        transform: translate(100%, 0); 
        transition: 0.3s ease all;
        
        &--active {
            transform: translate(0,0);
        }

    }
    
    /* Estilos a los links */
    &__li{

        display: flex;
        align-items: center;
        gap: 0.52em;

        &--active {
            padding: .5em 0;
            border-right-style: solid;
            border-right-width: .2em;            
            border-right-color: #fff;
        }

    }
    
    /* Estilos de los numeros */
    &__num{

        font-weight: 500;        
        letter-spacing: .2em;

    }
    
    /* Estilos de texto del link */
    &__texto{
        
        text-transform: uppercase;
        letter-spacing: .19em;
        font-weight: 400;
        
    }

}

@media screen and (min-width: 768px) and (max-width: 1439px) {
    .header {

        &__logo {
            width: 3em;
            height: 3em;
            margin: 1.45em 2.5em;
        }

        &__menu {
            display: none;
        }

        &__nav {
            width: 58.5%;
            height: 5.95em;
            display: flex;
            justify-content: center; 
        }

        &__ul {
            transform: translate(0,0);
            width: 100%;
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0;
            gap: 2.41em;  
        }

        &__li {

            &--active {
                border-right-style: none;
                border-top-style: solid;
                border-top-color: transparent;
                border-bottom-style: solid;
                border-bottom-color: #fff;
            }

        }

        &__num {
            display: none;
        }

        &__texto {
            font-size: .8em;
            letter-spacing: .22em;
            font-weight: 100;
        }        

    }   
}

@media screen and (min-width: 1440px) {
    .header {

        flex-flow: nowrap;

        &__logo {
            height: 3em;
            width: 3em;
            margin: 3.95em 3.35em;
        }

        &__line {
            display: block;
            width: 35%;
            max-width: 40em;
            opacity: 25.15%;
            border: 1px solid #fff;
            transform: translateX(9.5%);
            z-index: 1;
        }

        &__menu {
            display: none;
        }

        &__nav {
            width: min(58%, 51.93em);                        
            display: flex;
            justify-content: center; 
        }

        &__ul {
            width: 100%;    
            height: 6em;        
            position: relative;
            display: flex;
            flex-direction: row;
            justify-content: center;
            padding: 0 2.39em 0 0;
            gap: 2.98em;  
            transform: translate(0,0);
        }

        &__li {

            &--active {
                border-right-style: none;
                border-bottom-style: solid;
                border-bottom-color: #fff;
                border-bottom-width: 0.2em;
                border-top-style: solid;
                border-top-color: transparent;
                border-top-width: 0.2em;
            }

        }

        &__num {
            display: block;
        }

        &__texto {}        

    }   
}